
<table>
    <caption>
        Users stored in the company database
    </caption>  
    <thead>
        <tr>
            <th scope="col">Customer Name</th>
            <th scope="col">Customer Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Date Created</th>
            <th scope="col">Date Updated</th>
        <tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>
        <tr>
            
                <td><%= user.name %></td>
                <td><%= user.email %></td>
                <td><%= user.phone_number %></td>
                <td><%= user.created_at %></td>
                <td><%= user.updated_at %></td>
            
        </tr>
        <% end %>
    </tbody>
</table>
