<section class='All-supply-entry-information'>
    <h2>Here we will have a table of supply information</h2>
    <table>
        <thead>
            <tr>
                <th>Name of Customer</th>
                <th>Type of Block</th>
                <th>Number of Block</th>
                <th>Contact of Customer</th>
                <th>Payment made by Customer</th>
                <th>Balance of Payment</th>
            </tr>
        </thead>
        <tbody>
            <% @admin_blocks_supply.each do |block_supply| %>
            <tr>
                <td><%= block_supply.name %></td>
                <td><%= block_supply.type_of_blocks %></td>
                <td><%= block_supply.number_of_blocks %></td>
                <td><%= block_supply.contact %></td>
                <td><%= block_supply.payment %></td>
                <td><%= block_supply.balance %></td>
            </tr>
            <% end %>
        <tbody>
    </table>
</section>